hr {
  margin-top: 40px;
  border: 1px black dashed;
  width: 70vw;
}

.title {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 15px;
  padding: 15px;

  .project__img {
    background-color: lightgreen;

    img {
      // w/h cant exceed 500px and aspect ratio is not thrown off
      max-height: 500px;
      max-width: 500px;
      // height:auto;
      // width:auto;
    }
  }

  .project__text {

    h3:first-child{
        padding-top: 10px;
        line-height: 0;
        text-decoration: underline;
    }

    .project__text__skillz {
      li {
        font-weight: bold;
        font-style: italic;

      }
    }

    .project__text__btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 20px;

      .btn {
        padding: 5px 10px 5px 10px;
        background-color: $blackish-color;
        margin-bottom: 10px;
      }
    }
  }
}
