hr {
  margin-top: 40px;
  border: 1px black dashed;
  width: 70vw;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 65%;

  border: 1px solid lightgray;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;

  .img-container {
    // set container width
    width: 100%;
    max-width: 500px;
    max-height: 500px; //might not need when fix img placement issue
    overflow: hidden; //might not need when fix img placement issue
    
    p{
      border: 1px lightgray solid;
      
      .image{
        // set image to 100% container width
        max-width: 100%;
        height: auto;
      }

    }
  }

  .text-container {

    h3:first-child{
      // targeting Key Skills h3
        padding-top: 10px;
        line-height: 0;
        text-decoration: underline;
    }

    h3{
      font-weight: normal;
    }

    h2{
      //truncates highlight
      width:fit-content; 
      text-align: center;
    }

    .text-container__skillz {
      // bullet points
      li {
        font-style: italic;

      }
    }

    .text-container__btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 30px;

      .btn {
        padding: 5px 10px 5px 10px;
        background-color: $hover-color;
        color: $blackish-color;
        margin-right: 5%;
        text-decoration: none;
      }
      
      .btn:hover {
        transition: all 0.1s ease-in-out;
        background-color: $blackish-color;
        color: white;
      }
    }
  }
}


// BREAKPOINTS
@media screen and (min-width: 800px){

  .project-container:nth-last-of-type(odd) {
  // to flip-flop img and text for each project container
  .img-container{
    order:2;
  }
}
  .project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;  //centers container
    margin-right: auto; //centers container

    min-width: 90%; //resizes container
    margin: 50px;

    .img-container{
      width: 50%;
      padding: 0 20px 0px 20px;
    }
    
    .text-container {
      width: 40%;
      padding: 0 20px 0px 20px;

      h2{
        // undoes text-align: center set for mobile
        text-align:left
      }
    }
  }
}