// *{
//   border: 1px tomato solid;
// }

hr {
  margin-top: 40px;
  border: 1px black dashed;
  width: 70vw;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid lightgray;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;

  .img-container {
    // set container width
    width: 100%;
    max-width: 500px;
    max-height: 500px; //might not need when fix img placement issue
    overflow: hidden; //might not need when fix img placement issue
    
    p{
      border: 1px lightgray solid;
      
      .image{
        // set image to 100% container width
        max-width: 100%;
        height: auto;
      }

    }
  }

  .text-container {

    h3:first-child{
      // targeting Key Skills h3
        padding-top: 10px;
        line-height: 0;
        text-decoration: underline;
    }

    .text-container__skillz {
      li {
        font-weight: bold;
        font-style: italic;

      }
    }

    .text-container__btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 20px;

      .btn {
        padding: 5px 10px 5px 10px;
        background-color: $blackish-color;
        margin-bottom: 10px;
      }

      .btn:hover {
        transition: all 0.1s ease-in-out;
        background-color: $hover-color;
        color: $blackish-color
      }
    }
  }
}

// to flip-flop img and text for each project container
.project-container:nth-last-of-type(odd) {
  .img-container{
    order:2;
  }
}

// BREAKPOINTS
@media screen and (min-width: 800px){
  .project-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;  //centers container
    margin-right: auto; //centers container

    .img-container{
      width: 40%;
    }

    .text-container {
      width: 55%;
    }
  }
}

@media screen and (min-width: 1000px){
  .project-container{
    max-width: 950px;
  }
}
