// FONT
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

// FONT Size
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;

// FONT Color
$blackish-color:  #2d2b2b ;

// HEADER + Btn Color
$primary-color: #adc2eb;

// Btn HOVER Color
$hover-color: #d6e0f5;

html {
    font-size: 62.5%;
    color: $blackish-color;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Abril Fatface', sans-serif;
    // text-align: center;
    font-size: $default-font-size;
  }

    h1 {
        font-size: $big-font-size; 
    }

    h2 {
        font-size: $mid-font-size;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
    }

    a,
    a:link,
    a:hover,
    a:visited,
    a:active {
        text-decoration: none;
        color: white;
    }

    a:hover {
        transition: all 0.1s ease-in-out;
        background-color: $hover-color;
        color: $blackish-color
    }